.plate-button {
    background-color: $button-color;
    border-radius: 15px;
    margin: 12px 0;
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-shadow: $nav-shadow;
    overflow: hidden;
    height: 41px;
    max-width: 634px;
    &__name {
        flex: 1 0 100%;
        margin: 0 0 5px;
    }
    &__description {
        flex: 1 1 0px;
        margin: 0 6px 0 0;
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &__price {
        flex: 0 0 27px;
        margin: 0;
        color: $footer-background-color;
        font-weight: 700;
        position: relative;
        margin-left: -58px;
        transform: translateX(58px);
        transition: transform 0.4s ease-in-out, margin 0.4s ease-in-out;
    }
    .fa-circle-check {
        flex: 0 0 auto;
        position: relative;
        top: -39px;
        right: -15px;
        transform: translateX(58px);
        transition: transform 0.4s ease-in-out;
    }
    &:hover &__price,
    &:hover .fa-circle-check {
        transform: translate(0px);
    }
    &:hover &__price {
        margin-left: 0px;
    }
}