.searchbar {
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $text-font-size;
    font-weight: 600;
    color: $dark-grey;
    background-color: $background-grey;
    i{
        margin-right: 17px;
    }
}