// colors
$text-color: #000;
$background-color: #F6F6F6; 
$background-grey: #EAEAEA;

$footer-text-color: #fff;
$footer-background-color: #353535;

$new-background: #99E2D0;
$new-color: #008766;

$button-color: #fff;

$light-blue: #89C8FA;
$dark-blue: #003A68;
$purple: #9356DC;
$dark-grey: #353535;

// fonts
$title-font: "Shrikhand", cursive;
$text-font: "Roboto", sans-serif;

// sizes
$logo-font-size: 30px;
$title-font-size: 24px;
$bigger-text-size: 18px;
$text-font-size: 16px;

// shadows
$nav-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$button-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);