.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $background-color;
    padding-bottom: 57px;
    .header {
        margin: 39px 40px 0;
        @include desktop {
            font-size: 40px;
        }
    }
    p {
        margin: 16px 28px 27px;
        color: $dark-grey;
        font-size: $bigger-text-size;
    }
}