.fonctionnement {
    .header {
        margin: 48px 20px 26px;
    }
    ol {
        list-style: none;
        counter-reset: inst;
        padding: 0;
        margin: 0;
        li {
            counter-increment: inst;
            margin: 25px 32px;
            padding: 28px;
            background-color: $background-color;
            border-radius: 50px;
            i {
                color: $li-icon-color;
            }
            i.purple {
                color: $purple;
            }
        }
        li::before{
            content: counter(inst);
            color: $button-color;
            background-color: $purple;
            border-radius: 30px;
            padding: 7px 11px;
            position: absolute;
            left: 20px;
            // top: 1px;
            font-size: 14px;
        }
    }
}