footer {
    background-color: $footer-background-color;
    padding: 22px 22px 15px;
    color: $footer-text-color;
    .logo {
        font-size: 20px;
        margin: 0 0 16px;
    }
    a {
        display: block;
        color: $footer-text-color;
        margin: 7px 0;
        text-decoration: none;
        i{
            margin-right: 11px;
            font-size: 13px;
        }
    }
}
