section.restaurants {
    padding: 0 17px 48px;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .header {
        padding: 54px 3px 0;
        margin-bottom: 6px;
    }
}