.restaurants {
    padding: 0 17px 48px;
    margin: 0 auto;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .header {
        padding: 0;
        margin: 54px 0 6px;
    }
    @include desktop(1080px) {
        padding: 30px 0 5px;
        align-items: center;
        .header {
            align-self: flex-start;
            margin: 0 auto 3px;
            width: 1080px;
        }
        .restaurants__container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            max-width: 1080px;
            width: 100%;
            .restaurant-card {
                flex: 1 0 50%;
                max-width: 490px;
                margin: 25px 0;
            }
        }
    }
}