header {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    .logo {
        background-color: #fff;
        margin: 0;
        padding: 14px;
        box-shadow: $nav-shadow;
        z-index: 2;
        position: relative;
    }
}