header {
    nav {
        text-align: center;
        display: flex;
        background-color: #fff;
        box-shadow: $nav-shadow;
        z-index: 2;
        position: relative;
        padding: 14px;
        justify-content: space-evenly;
        align-items: center;
        .logo {
            margin: 0;
            width: 100%;
        }
        .nav-previous {
            position: absolute;
            left: 26px;
        }
    }
}