body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

nav .logo {
  font-size: 30px;
}

.header {
  font-size: 24px;
  font-weight: 700;
}

.restaurant-header {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}

button {
  padding: 13px 18.75px;
  border-radius: 100px;
  color: #fff;
  border-style: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #9356DC, #FF79DA);
}

.searchbar {
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #353535;
  background-color: #EAEAEA;
}
.searchbar i {
  margin-right: 17px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 25px 32px;
  padding: 28px;
  background-color: #F6F6F6;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
li .fonctionnement__number {
  color: #fff;
  background-color: #9356DC;
  border-radius: 30px;
  padding: 4px 8px;
  position: absolute;
  left: 18px;
  font-size: 14px;
}
li p {
  position: relative;
  left: -10%;
  margin: 0;
}
li i {
  color: #7E7E7E;
  margin-right: 15px;
}
li i.purple {
  color: #9356DC;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  color: #000;
  text-decoration: none;
  margin: 18px 0;
}
.restaurant-card img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 174px;
  object-fit: cover;
  margin-bottom: 25px;
}
.restaurant-card__img--bottom {
  object-position: bottom;
}
.restaurant-card__img--center {
  object-position: 50% 60%;
}
.restaurant-card__content {
  margin: 0 25px 0 13px;
  display: grid;
  grid-template-columns: 1fr 22px;
  align-items: center;
}
.restaurant-card__content h3 {
  margin: 0 0 5px;
  grid-row: 1;
}
.restaurant-card__content p {
  grid-row: 2;
  margin: 0 0 12px;
}
.restaurant-card__content i {
  grid-row: 1/2;
  grid-column: 2;
  font-size: 22px;
}
.restaurant-card__content .full {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.restaurant-card .new {
  display: flex;
  position: absolute;
  right: 30px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  font-size: 14px;
  width: 80px;
  height: 29px;
  justify-content: center;
  align-items: center;
}

.nav-previous {
  color: #000;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

header nav {
  text-align: center;
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
  padding: 14px;
  justify-content: space-evenly;
  align-items: center;
}
header nav .logo {
  margin: 0;
  width: 100%;
}
header nav .nav-previous {
  position: absolute;
  left: 26px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 57px;
}
.description .header {
  margin: 39px 40px 0;
}
.description p {
  margin: 16px 28px 27px;
  color: #353535;
  font-size: 18px;
}

.fonctionnement .header {
  margin: 48px 20px 26px;
}
.fonctionnement ol {
  list-style: none;
  padding: 0;
  margin: 0 0 68px;
}

section.restaurants {
  padding: 0 17px 48px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.restaurants .header {
  padding: 0 3px;
  margin: 54px 0 6px;
}

footer {
  background-color: #353535;
  padding: 22px 22px 15px;
  color: #fff;
}
footer .logo {
  font-size: 20px;
  margin: 0 0 16px;
}
footer a {
  display: block;
  color: #fff;
  margin: 7px 0;
  text-decoration: none;
}
footer a i {
  margin-right: 11px;
  font-size: 13px;
}

.restaurant-img {
  width: 100%;
}

main {
  background-color: #F6F6F6;
  border-radius: 32px 32px 0 0;
  position: relative;
  bottom: 50px;
  padding-top: 32px;
  margin: 0;
  background-color: #F6F6F6;
}
main .restaurant-title {
  font-size: 28px;
  margin: 0 41px 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .restaurant-title i {
  font-size: 22px;
}

/*# sourceMappingURL=main.css.map */
