body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

nav .logo {
  font-size: 30px;
}
@media screen and (min-width: 1080px) {
  nav .logo {
    font-size: 34px;
  }
}

.header {
  font-size: 24px;
  font-weight: 700;
}

.restaurant-header {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}

button {
  padding: 17.5px 18.75px;
  border-radius: 50px;
  color: #fff;
  border-style: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  transition: filter 0.2s ease-in;
}
button:hover {
  filter: brightness(120%);
}

.searchbar {
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #353535;
  background-color: #EAEAEA;
}
.searchbar i {
  margin-right: 17px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 25px 32px;
  padding: 28px;
  background-color: #F6F6F6;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
li .fonctionnement__number {
  color: #fff;
  background-color: #9356DC;
  border-radius: 30px;
  padding: 4px 8px;
  position: relative;
  left: -40px;
  font-size: 14px;
}
li i {
  color: #7E7E7E;
  margin: 0 15px 0 -20px;
}
li i.purple {
  color: #9356DC;
}

.restaurant-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  color: #000;
  text-decoration: none;
  margin: 18px 0;
}
.restaurant-card__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.restaurant-card__img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 174px;
  object-fit: cover;
  margin-bottom: 16px;
  object-position: 50% 60%;
}
.restaurant-card__content {
  margin: 0 25px 0 13px;
  display: grid;
  grid-template-columns: 1fr 22px;
  align-items: center;
}
.restaurant-card__content h3 {
  margin: 0 0 5px;
  grid-row: 1;
}
.restaurant-card__content p {
  grid-row: 2;
  margin: 0 0 12px;
}
.restaurant-card .new {
  position: relative;
  right: 200%;
  top: -210px;
  margin: 0;
}

.nav-previous {
  color: #000;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.plate-button {
  background-color: #fff;
  border-radius: 15px;
  margin: 12px 0;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 41px;
  max-width: 634px;
}
.plate-button__name {
  flex: 1 0 100%;
  margin: 0 0 5px;
}
.plate-button__description {
  flex: 1 1 0px;
  margin: 0 6px 0 0;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.plate-button__price {
  flex: 0 0 27px;
  margin: 0;
  color: #353535;
  font-weight: 700;
  position: relative;
  margin-left: -58px;
  transform: translateX(58px);
  transition: transform 0.4s ease-in-out, margin 0.4s ease-in-out;
}
.plate-button .fa-circle-check {
  color: white;
  font-size: 22px;
  background-color: #99E2D0;
  padding: 25px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  position: relative;
  top: -39px;
  right: -15px;
  transform: translateX(58px);
  transition: transform 0.4s ease-in-out;
}
.plate-button:hover .plate-button__price, .plate-button:hover .fa-circle-check {
  transform: translate(0px);
}
.plate-button:hover .plate-button__price {
  margin-left: 0px;
}

.like-button .fa-heart {
  font-size: 22px;
  position: absolute;
  z-index: 3;
}
.like-button .fa-heart.fa-solid {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  visibility: hidden;
}
.like-button__checkbox {
  display: none;
}
.like-button__checkbox:checked ~ .fa-regular.fa-heart {
  visibility: hidden;
}
.like-button__checkbox:checked ~ .fa-solid.fa-heart {
  visibility: visible;
}

.new {
  display: flex;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  font-size: 14px;
  width: 80px;
  height: 29px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header nav {
  text-align: center;
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
  padding: 14px;
  justify-content: space-evenly;
  align-items: center;
}
header nav .logo {
  margin: 0;
  width: 100%;
}
header nav .nav-previous {
  position: absolute;
  left: 26px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 57px;
}
.description .header {
  margin: 39px 40px 0;
}
@media screen and (min-width: 1080px) {
  .description .header {
    font-size: 40px;
  }
}
.description p {
  margin: 16px 28px 27px;
  color: #353535;
  font-size: 18px;
}

.fonctionnement {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1080px;
}
@media screen and (min-width: 1080px) {
  .fonctionnement {
    flex-flow: column nowrap;
    padding: 50px 0;
    margin: 0 auto;
  }
}
.fonctionnement .header {
  margin: 48px 20px 26px;
}
@media screen and (min-width: 1080px) {
  .fonctionnement .header {
    margin: 0 0 25px;
  }
}
.fonctionnement ol {
  list-style: none;
  padding: 0;
  margin: 0 0 68px;
  display: flex;
  flex-flow: column wrap;
}
@media screen and (min-width: 1080px) {
  .fonctionnement ol {
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 20px;
  }
  .fonctionnement ol li {
    width: 25%;
    margin: 0;
  }
}

.restaurants {
  padding: 0 17px 48px;
  margin: 0 auto;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurants .header {
  padding: 0;
  margin: 54px auto 6px;
  align-self: flex-start;
  max-width: 1080px;
  width: 100%;
}
.restaurants__container {
  max-width: 1080px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
.restaurants__container .restaurant-card {
  width: 100%;
}
@media screen and (min-width: 980px) {
  .restaurants {
    padding: 30px 17px 5px;
    align-items: center;
  }
  .restaurants .header {
    margin: 0 auto 3px;
  }
  .restaurants .restaurant-card {
    flex: 1 0 50%;
    max-width: 490px;
    margin: 25px 0;
  }
}

footer {
  background-color: #353535;
  padding: 22px 22px 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
footer .logo {
  font-size: 20px;
  margin: 0 0 16px;
}
footer a {
  display: block;
  color: #fff;
  margin: 7px 0;
  text-decoration: none;
}
footer a i {
  margin-right: 11px;
  font-size: 13px;
}
@media screen and (min-width: 1080px) {
  footer {
    flex-flow: row-reverse nowrap;
    padding: 64px 25px 30px;
  }
  footer .logo {
    margin: 0 0 0 16px;
  }
  footer .footer__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
  footer .footer__container a {
    margin: 0 7px;
  }
  footer .footer__container .footer__link--wide {
    width: 200px;
  }
  footer .footer__container .footer__link {
    width: 130px;
  }
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: #F6F6F6;
  animation: hiding 2s ease-out 0ms both;
}
.loader .dots {
  position: absolute;
  top: 48%;
  bottom: 48%;
  left: 10%;
  right: 10%;
  border-radius: 30px;
  background-color: #353535;
  transform-origin: 0% 50%;
  animation: filling 1.5s cubic-bezier(0, 0.81, 1, 0.46) 0.2s both;
}

@keyframes hiding {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes filling {
  0% {
    transform: scale(0%, 100%);
  }
  100% {
    transform: scale(100%, 100%);
  }
}
.restaurant-img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  object-position: 50% 60%;
}
@media screen and (min-width: 1080px) {
  .restaurant-img {
    height: 390px;
  }
}

.restaurant-main {
  background-color: #F6F6F6;
  border-radius: 32px 32px 0 0;
  position: relative;
  bottom: 50px;
  padding-top: 32px;
  margin: 0 0 -50px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  max-width: 1055px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.restaurant-main .restaurant-title {
  font-size: 28px;
  margin: 0 41px 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 341px;
  width: 100%;
}
.restaurant-main .restaurant-title .like-button {
  position: relative;
  top: -10px;
  right: 22px;
}
.restaurant-main .menu-category {
  padding: 0 13px;
  max-width: 634px;
  width: 100%;
  box-sizing: border-box;
}
.restaurant-main .menu-category__title {
  width: 40px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  height: 24px;
  margin: 40px 0 12px;
}
.restaurant-main .order-button {
  justify-content: center;
  margin: 28px auto 40px;
}
@media screen and (min-width: 1080px) {
  .restaurant-main .restaurant-title {
    margin-top: 18px;
  }
}

.plate-1 {
  animation: slide 0.4s ease-in-out 200ms both;
}

.plate-2 {
  animation: slide 0.4s ease-in-out 400ms both;
}

.plate-3 {
  animation: slide 0.4s ease-in-out 600ms both;
}

.plate-4 {
  animation: slide 0.4s ease-in-out 800ms both;
}

.plate-5 {
  animation: slide 0.4s ease-in-out 1000ms both;
}

.plate-6 {
  animation: slide 0.4s ease-in-out 1200ms both;
}

.plate-7 {
  animation: slide 0.4s ease-in-out 1400ms both;
}

.plate-8 {
  animation: slide 0.4s ease-in-out 1600ms both;
}

.plate-9 {
  animation: slide 0.4s ease-in-out 1800ms both;
}

.plate-10 {
  animation: slide 0.4s ease-in-out 2000ms both;
}

@keyframes slide {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

/*# sourceMappingURL=main.css.map */
